<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/api.css">
  <title>Api List</title>
</head>
<body>
  <header>
    <%- include('nav') %>
  </header>
  <main>
    <nav class="api-nav">
      <a href="/api/notice">Get Notice Data</a>
      <a href="/api/reminder">Get Reminder Data</a>
      <a href="/api/prayertime">Get Prayer Time Data</a>
      <a href="/api/weather">Get Weather Data</a>
    </nav>
  </main>
</body>
</html>