<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/reminder.css">
  <title>New Reminder</title>
</head>
<body>
  <header>
    <%- include('nav') %>
  </header>
  <main>
    <form action="/reminder/new" method="POST">
      <legend>New Reminder</legend>
      <label for="reminderText">Reminder</label>
      <textarea name="reminderText" id="reminderText" placeholder="What do you want us to remind you?" required></textarea>
      <label for="reminder-type">
        Reminder Type
      </label>
      <!-- Selecting the type of input and chaning what shows up on the form based on that. -->
      <select id="reminder-type" name="reminderType">
        <option value="once" selected>One Time</option>
        <option value="repeat">Repeat</option>
      </select>
      <div id="once-reminder-option">
        <label for="reminder-time">Reminder Time</label>
        <input type="datetime-local" name="reminderTime" id="reminder-time" required>
      </div>
      <div id="repeat-reminder-option" class="repeat-reminder-option hidden">
        <label for="repeat-days">Days To Repeat</label>
        <div class="checkboxes">
          <input name="reminderDays" type="checkbox" id="sat" value="sat">
          <label for="sat">Saturday</label>
          <input name="reminderDays" type="checkbox" id="sun" value="sun">
          <label for="sun">Sunday</label>
          <input name="reminderDays" type="checkbox" id="mon" value="mon">
          <label for="mon">Monday</label>
          <input name="reminderDays" type="checkbox" id="tue" value="tue">
          <label for="tue">Tuesday</label>
          <input name="reminderDays" type="checkbox" id="wed" value="wed">
          <label for="wed">Wednesday</label>
          <input name="reminderDays" type="checkbox" id="thu" value="thu">
          <label for="thu">Thursday</label>
          <input name="reminderDays" type="checkbox" id="fri" value="fri">
          <label for="fri">Friday</label>
        </div>
      </div>
      <button>ADD REMINDER</button>
    </form>
    <script type="text/javascript" src="/js/reminder.js"></script>
  </main>
</body>
</html>