nav {
  background-color: var(--blk-sec);
  display: flex;
  justify-content: left;
  border-bottom: 1px solid gray;
  padding: 0 1rem;
}

nav a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  padding: 1em 1em;
}

nav a:hover {
  opacity: 0.75;
  outline: 1px solid gray;
}