@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

form {
  display: flex;
  flex-direction: column;
  width: 22rem;
  background-color: white;
  padding: 2rem;
  margin: 5em auto;
  border-radius: 0.3em;
  color: var(--blk-sec);
}

form  *:not(label) {
  font-family: "Roboto";
  font-size: 1.3rem;
  margin-bottom: 1.75rem;
  padding: 0.35em 0.25em;
}

form textarea {
  resize: none;
  height: 100px;
}

form legend {
  width: 100%;
  font-size: 2rem;
  color: var(--purple-prm);
  text-align: center;
  border-bottom: 1px solid hsl(0, 0%, 56%);
}

form label {
  font-family: "Roboto";
  font-size: 1.5rem;
  color: var(--blk-prm);
  margin-bottom: 0.5rem;
}

form button {
  background-color: var(--purple-prm);
  color: whitesmoke;
  border: 0;
  cursor: pointer;
  border-radius: 0.3em;
}

form button:hover {
  background-color: var(--purple-sec);
}

form select {
  cursor: pointer;
}


form div * {
  box-sizing: border-box;
  width: 100%;
}

form .checkboxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
